<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Home Page</title>
  <link href="/css/loginStyle.css" rel="stylesheet" type="text/css" />

<!--   links in the nav bar at the top of the pages -->
      <div id="navBar">
<!--     home button -->
          <a id='logo' href="/">
            <img id='logo' src="img/logo.png">
          </a>
    <div id="links">
<!--       <form action="/signIn">
        <button id="signIn">
          <img src="img/Asset 5.png"> 
          <br>
          <span id="signInMessage">Sign In</span>
        </button>
      </form> --> 
      <form action="/cart">
        <button id="cart">
          <span id="itemCount"> 4 </span>
          <img src="img/cart.png"> 
        </button>
      </form>
    </div>
  </div>

<!--   <div id="options">
    <h1></h1>
    <a href="#">Shoes</a>
    <a href="#">Shirts</a>
    <a href="#">Pants</a>
  </div> -->
  <script src="/js/changeSignInText.js"> </script>
</head>
  
