<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Home Page</title>
  <link href="/css/loginStyle.css" rel="stylesheet" type="text/css" />

<!--   links in the nav bar at the top of the pages -->
      <div id="navBar">
<!--     home button -->
          <a id='logo' href="/">
            <img id='logo' src="img/logo.png">
          </a>
    <div id="links">
      <form action="/cart">
        <button id="cart">
<!--           0 is a placement holder -->
          <span id="itemCount"> 0 </span>
          <img src="img/cart.png"> 
        </button>
      </form>
    </div>
  </div>
</head>
  
